body {
  box-sizing: border-box;
  margin: 0 5px;
}

.navbar {
  display: block;
  background-color: black;
  margin: 0 0;
}

.navbar img {
  width: 120px;
  padding: 5px 5px;
}

.drop_btn {
  float: right;
  margin: 10px 10px;
}

.drop_content {
  position: absolute;
  display: none;
  top: 40px;
  right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  min-width: 140px;
  padding: 5px 5px;
  box-shadow: 3px 3px 3px #b3b3b3;
}

.drop_content a {
  display: block;
  text-decoration: none;
  color: black;
}

