body {
  box-sizing: border-box;
  margin: 0 5px;
}

.navbar {
  display: block;
  background-color: black;
  margin: 0 0;
}

.navbar img {
  width: 120px;
  padding: 5px 5px;
}

.right {
  float: right;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.b {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: white;
  border: 1px solid rgba(190, 190, 190, 0.6);
  border-radius: 5px;
  box-shadow: 2px 2px rgb(238, 237, 237);
}